
.App {

  text-align: center;
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.image-card {
  position: relative;
}

.image-card img {
  width: 100%;
  height: auto;
}

.image-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-card:hover .image-details {
  opacity: 1;
}

